*{
	margin: 0;
	padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body{
  background-image: url("assets/bg.jpg");
}

header{
	height: 10vh;
  max-width: 85%;
  margin: auto;
}

/*logo*/
.logo{
	float: left;
	width: 50px;
	height: auto;
	margin-top: 30px;
}


/* navbar code */
ul{
	list-style-type: none;
	float: right;
  margin-top: 30px;
}

ul li{
	display: inline-block;
}

.btn{
	padding: 10px 30px;
	color: #fff;
  text-decoration: None;
  border-radius: 3cm;
  transition: 400ms;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

/* main */

.container{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
}

.title {
  margin: auto;
  padding: 20px;	
}

.btn-center{
  padding: 10px;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
} 

img{
  max-width: 100%;
}

.para{
  margin-left: 10%;
  margin-right: 10%;
  
}